<div>
<!--[if IE]>
<object 
classid="clsid:233C1507-6A77-46A4-9443-F871F945D258" 
codebase="http://download.macromedia.com/pub/shockwave/cabs/director/sw.cab#version=11.5.0.601"
width="730" height="620">
<param name="src" value="http://coderecipe.com/physics_samples/virtual_sphere.dcr" />
<![endif]-->
<!--[if !IE]>-->
<object type="application/x-director" data="http://coderecipe.com/physics_samples/virtual_sphere.dcr" width="730" height="620">
<!--<![endif]-->
<param name="PlayerVersion" value="11" />
</object>
</div>
