<div>
<!--[if IE]>
<object 
classid="clsid:233C1507-6A77-46A4-9443-F871F945D258" 
codebase="http://download.macromedia.com/pub/shockwave/cabs/director/sw.cab#version=11.5.0.601"
width="650" height="600">
<param name="src" value="http://coderecipe.com/physics_samples/3rdPerson_camera.dcr" />
<![endif]-->
<!--[if !IE]>-->
<object type="application/x-director" data="http://coderecipe.com/physics_samples/3rdPerson_camera.dcr" width="650" height="600">
<!--<![endif]-->
<param name="PlayerVersion" value="11" />
</object>
</div>
